
/*** Styling for the header including size, colour and decorative flare ***/
footer{
	background-color: MintCream;
	color: MidnightBlue;    
	border-style: double;
	border-color: Orange;
	border-width:medium;
	padding: 4vw;
	font-size: 2vw;
	font-weight:bold;
}

ul { 
	padding: 0%;

}