
/*** Styling for the header including size, colour and decorative flare ***/
footer{
	background-color: #0A1F38;
	color: #FCFAEF;    
	padding: 4vw;
	font-size: 2vw;
	font-weight:bold;
}

ul { 
	padding: 0%;

}