.h-image{
    width: 100%; 
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.header{
    font-size: 5em;
    color: black;
    position:relative;
    float: right;  
    text-shadow: 2px 2px 20px #FFF;
	overflow: hidden;
	padding: 10%;
	text-align:center;
	position: relative;
	margin: 0%;
}

nav{
	padding: 10%;
    position: relative; 
	margin: 0%; 
}

li{
	padding: 2%;
	font-size: 3em;
}

li a{
	padding: 2%;
	font-size: 1em;
}

li a:active {
	background-color: aqua;
	padding: 2%;
	font-size: 1em;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
    width: 100%;
}

.li {
    float: left;
}

.li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li a:hover {
    background-color: darkorchid;
}

a {
    color: white;
    text-decoration: none;
}

.active{
    background-color: deeppink;
}

