/*** Importing the Google Font for the .header ***/
@import url('https://fonts.googleapis.com/css?family=Cinzel Decorative');

/*** Styling for the header including size, colour and decorative flare ***/
.header{
    font-size: 7vw;
	font-family: Cinzel Decorative;
    color: MidnighBlue;
    position: absolute;
    float: center;  
	overflow: hidden;
	padding: 5% 10% 5% 10%;
	text-align:center;
	position: relative;
	margin: 3%;
}

/*** Adding background colour to the menu navigation ***/
.menu{
    overflow: hidden;
    background-color:Purple;
	padding: 0.5%;
	margin: 3%;
}

/*** Colouring and styling the links within the menu list ***/
.menu a {
	color: orange;
	text-align: center;
	text-decoration: none;
	font-size: 3vw;
	border: 0.25vw solid orange;
	float: center;
	display: block;
	padding: 1vw;
	margin: 1%;
}

/*** Colouring the Menu when mouse hovers over ***/
.menu a:hover{
	color: purple;
	background-color: orange;
	border: 0.25vw solid purple;
}

/*** Colouring the Menu item that is active (what page you the user is currently viewing) ***/
.menu a.active{
	color: purple;
	background-color: orange;
	border: 0.25vw solid orange;
}

/*** Moves menu to a horizontal layout ***/
.menu li {
	display: inline;
	float: left;
}