/** Responsive Design - for fonts add in  style="font-size:10vw"**/
/** Be more responsive https://www.w3schools.com/html/html_responsive.asp**/

/** Lime Green #6BD425 
	Dark Purple #42113C
	Dark Purple2 #370926
	Dark Purple3 #1C0118
**/


/**Printer Rules*/
@media print {
#header {display:none;}
#content {display:none;}
#comments {display:none;}
#sidebar {display:none;}
#footer {display:none;}

.site-description {display:none;}
.site-title {display:none;}
}

/*Mobile Devices*/
@media only screen and (max-width: 768px){
    
    [class*="mapouter"]{
      text-align:center;
      width:100%;
     margin-left: auto;
     margin-right: auto;
     
    }
    
    [class*=".cards img"]{}
      max-width: 100%;
    
     
    }
}

/*Assuming on a Computer Screen or will catch any other Case*/
background, html{
    Background-color: yellow;    
}

/** Body styling **/
body {
    background-color:#1C0118;
	color: #1C0118;  
	border-style: double;
	border-color: #6BD425;
	border-width:medium;
}

/** Header 1 font styling, border design and padding. This is the Title/Header Styling**/
h1 {
  background-color: #42113C;
  color: #1C0118;  
  font-size: 2vw;
  font-weight: bold;  
  border-width:medium;
}

/** Header 2 is for the paragraph header **/
h2 {
  font-size: 1.5em;
  font-weight:bold;
  color: #FCFAEF;  
  background-color: #6BD425;
  padding: 0.5em 1em;
  margin: 0.5em 1em 0.2em 1em;
}

/** Header 3 styling**/
h3 {
	font-size: 1.5em; 
	color: #6BD425;
	padding:0.5em;
	margin: 0.5em 2em;
	border: 0.05em solid #6BD425;
}

/** Header 4 styling**/
h4 {
	font-size: 1em; 
	text-decoration: underline;
	color: #6BD425;
	margin: 0.5em 4em;
}


/** Paragraph styling **/
p{
	color: #FCFAEF;
	background-color: #1C0118;
	border: 0.1em solid #42113C;
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1.5em;
	padding: 0.5em;
	margin: 0em 2.5em 2.5em 2.5em;
}

/*** Responsive headers and text screens under 900px ***/
@media screen and (max-width: 900px){
	h2{
		font-size:1.5em;
		text-align: center;
		margin:0.25em;
	}
	
	p{
		font-size:1.5em;
		margin:0.25em;
	}
	
}


/*** Previous website css

.body {
    font-family: "Lato", sans-serif;    
    background-color: #F1D9B1;
    color: #3F2921;
    padding: 2% 2%;
    list-style: circle;
}

.footer{
    text-align: center;
    color: white;
    background: #770011;
    font-size: 80%;
    font-style:italic;
    padding: 2% 2%;
}


.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 1% solid gray;
	margin: 1%;
	padding: 1%;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}

***/